@import "tailwindcss";

:root {
  --color-primary: #DCD7C9;
  --color-secondary: #1C2B2D;
  --color-third: #000000;
  --color-fourth: #BF8C63;
}

@theme inline {
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-third: var(--color-third);
  --color-fourth: var(--color-fourth);

  --font-primary: var(--font-poppins);
  --font-title: var(--font-cabin-sketch);
  --font-mono: var(--font-anonymous-pro);
}

body {
  font-family: var(--font-primary);
  background-color: var(--color-secondary);
}

