@import "tailwindcss";

:root {
  --color-primary: #DCD7C9;
  --color-secondary: #1C2B2D;
  --color-third: #000000;
  --color-fourth: #D99968;
  --color-fifth: #B57C50;
}

@theme inline {
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-third: var(--color-third);
  --color-fourth: var(--color-fourth);
  --color-fifth: var(--color-fifth);

  --font-primary: var(--font-poppins);
  --font-title: var(--font-potta-one);
  --font-mono: var(--font-ibm-plex-mono);
}

body {
  font-family: var(--font-primary);
  background-color: var(--color-secondary);
}